* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    border-bottom: solid 5px grey;
    border-top: solid 5px grey;
    display: flex;
    background-color: #FFF7E9;
}

.nba-logo{
    width: 100px;
    margin: 20px 30px;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: auto;
    margin-left: 40px;
}

.navigation-texts{
    font-size: 30px;
    cursor: pointer;
}

.main-content{
    font-family: sans-serif;
}

.footer {
    background-color: #FFF7E9;
    border-top: solid 5px grey;
    padding-top: 10px;
}

.footer-text a {
    text-decoration: none;
    color: #000;
}

.footer-text:hover{
    text-decoration: underline;
}

.footer-section{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-media-links{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.social-media-link{
    padding-left: 15px;
}

.copyright {
    padding-bottom: 20px;
    padding-left: 30px;
}

.home-header {
    margin: 30px auto 20px;
    text-align: center;
}

.home-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 60px 30px;
}

.nba-court {
    width: 90%;
    margin: 20px auto;
}

.paragraphs {
    margin: 20px;
    text-indent: 5%;
}

.home-paragraph {
    margin: 0px 20px 20px;
    line-height: 150%;
    font-size: 1vw;
}

@media only screen and (max-width: 992px){
    .navigation-texts{
        font-size: 4vw;
    }

    .home-main {
        grid-template-columns: 1fr;
    }

    .home-paragraph {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 500px){
    .footer-section{
        display:block;
    }

    .social-media-link{
        margin-top: 10px;
    }

    .social-media-link{
        padding-left: 0px;
        padding-right: 15px;
    }

    .home-main {
        margin: 0 20px 20px;
    }
}

.all-teams-header{
    margin-top: 50px;
    text-align: center;
}

.all-teams-details {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 120px;
    justify-content: center;
}

.team-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    flex-basis: auto;
}

.team-logo{
    width: 200px;
    height: 200px;
}

.team-name{
    margin-top: 30px;
    text-align: center;
}

.team-conference{
    margin-top: 10px;
    text-align: center;
}

.team-division{
    margin-top: 5px;
    text-align: center;
}